
<h1>All Products</h1>
<p>Take a look at our vast collection of books and merch. There is something for every book lover.</p>

<nav>
  <ul>
    <li><%= link_to "All Products", products_path %></li>
    <li><%= link_to "Books", products_books_path %></li>
    <li><%= link_to "Merchandise", products_merchandise_path %></li>

    <% if controller_name == 'products' && action_name == 'books_only' %>
      <li>
        <strong>Filter by Author:</strong>
        <ul>
          <% Author.all.each do |author| %>
            <li><%= link_to author.author_name, products_books_by_author_path(author_name: author.author_name) %></li>
          <% end %>
        </ul>
      </li>
    <% elsif controller_name == 'products' && action_name == 'merchandise_only' %>
      <li>
        <strong>Filter by Category:</strong>
        <ul>
          <% MerchandiseCategory.all.each do |merch| %>
            <li><%= link_to merch.category_name, products_merchandise_by_category_path(merchandise_category_name: merch.category_name) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>

<h2>
  <% if request.path == products_path %>
    All Products
  <% elsif request.path == products_books_path %>
    Books
  <% elsif request.path == products_merchandise_path %>
    Merchandise
  <% end %>
</h2>
<% if @search_message %>
  <p><%= @search_message %></p>
<% end %>
<% @products.each do |product| %>
  <div>
    <h3>
      <% if product.respond_to?(:author) %>
        <%= link_to product.title, book_path(product) %>
      <% else %>
        <%= link_to product.merch_name, merchandise_path(product) %>
      <% end %>
    </h3>
    <p><%= product.respond_to?(:author) ? product.description : product.description %></p>
    <p>Price: <%= number_to_currency(product.price) %></p>
    <%= form_with url: add_to_cart_products_path, method: :post do |f| %>
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.hidden_field :product_type, value: product.class.name.downcase %>
      <%= f.number_field :quantity, value: 1, min: 1 %>
      <%= f.submit "Add to Cart", data: {turbo: false} %>
    <% end %>
  </div>
  <hr>
<% end %>
<%= paginate @products %>